.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding-inline-start: 0;
}
.item {
  display: flex;
  padding: 20px;
  border: 3px solid rgb(154, 154, 156);
  background-color: aquamarine;
  border-radius: 20px;
}
